/Clases/Clase1/nbproject/private/
/Clases/Clase2/nbproject/private/
/Clases/Clase2/build/
/Clases/Clase3/nbproject/private/
/Clases/Clase3/build/
/Clases/Clase3/dist/
/Clases/Clase4/nbproject/private/
/Clases/Clase5/nbproject/private/
/Clases/Clase5/build/
/Clases/Clase6/nbproject/private/
/Clases/Clase6/build/
/Clases/Clase7/nbproject/private/
/Clases/Clase7/build/